<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iclean.icleanapi.dao.RoleMapper">

    <select id="findRoleName" resultType="com.iclean.icleanapi.domain.Role">
        SELECT
        roleId,
        roleName
        FROM roles where roleId = #{roleId};
    </select>

</mapper>