<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iclean.icleanapi.repository.RoleMapper">

    <select id="findRoleName" resultType="com.iclean.icleanapi.domain.Role">
        SELECT
        role_id,
        role_name
        FROM roles where roleId = #{roleId};
    </select>

    <select id="findRoleByRoleName" resultType="com.iclean.icleanapi.domain.Role">
        SELECT
        role_id,
        role_name
        FROM roles where role_name = #{name};
    </select>

</mapper>