<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iclean.icleanapi.repository.UserMapper">

    <select id="findUserByUserName" parameterType="com.iclean.icleanapi.domain.User" resultType="com.iclean.icleanapi.domain.User">
        SELECT
        user_id,
        username,
        password,
        fullname,
        date_of_birth,
        gender,
        point,
        phone,
        email,
        bio,
        profile_picture,
        role_name
        FROM user, roles where user.username = #{username}
            AND roles.role_id = user.role_id
    </select>

    <select id="findUserDtoByUserName" parameterType="com.iclean.icleanapi.domain.User" resultType="com.iclean.icleanapi.domain.UserDto">
        SELECT
        user.user_id,
        username,
        password,
        fullname,
        date_of_birth,
        gender,
        point,
        phone,
        email,
        bio,
        profile_picture,
        role_name,
        addresses.description,
        addresses.longitude,
        addresses.latitude,
        street,
        location_name
        FROM user, roles, addresses where user.username = #{username}
        AND roles.role_id = user.role_id
        AND user.user_id = addresses.user_id
        AND addresses.is_default = 1
    </select>

    <insert id="createUser" parameterType="com.iclean.icleanapi.domain.User">
        INSERT INTO user (username, password, fullname, date_of_birth, gender, phone, email, role_id)
        VALUES (#{username}, #{password}, #{fullname}, #{date_of_birth}, #{gender}, #{phone}, #{email}, #{role_id});
    </insert>

    <update id="changePassword" parameterType="com.iclean.icleanapi.dto.ChangePasswordForm">
        update user
        set
        password = #{new_password}
        where user_name = #{user_name}
    </update>

</mapper>