<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iclean.icleanapi.repository.VoucherMapper">

    <select id="getVoucherByCode" resultType="com.iclean.icleanapi.domain.Voucher">
        SELECT
        voucher_id,
        voucher_name,
        voucher_code,
        max_price_discount,
        discount,
        timestamp,
        status
        FROM voucher where voucher_code = #{code}
    </select>
</mapper>